
*
{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.banner
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url(dizustu.jpg);
    background-position: top;
    background-size: cover;
}
.navbar
{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 27px 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.534);
    height: 7vh;
    
   
    
    
}
.logo
{
    border-radius: 50%;
    cursor: pointer;
    background-position-x: -100px;
}
.navbar ul li
{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
    
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    transition:color 0.45s;
}
.navbar ul li a:hover
{
    color: tomato;
}
.content
{
    width: 100%;
    position: absolute;
    top: 40%;
    color: #fff;
    text-align: center;
}
.content h1
{
    font-size: 65px;
}
.content p
{
    margin: 20px auto;
}
.btn
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    margin: 20px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    border-radius: 15px;
}
.btn:hover{
    background-color: aqua;
    
}

.btn a
{
    text-decoration: none;
    color: black;

}
.btn:hover
{
    color: black;
}
.form-basligi
{
    text-align: center;
    font-size: 40px;
    color: #554994;
}
.iletisim-formu
{
    width: 520px;
    margin: auto;
}
.iletisim-formu label,input,select
{
    display: block;
    width: 100%;
    margin-top: 35px;
}
.iletisim-formu button[type="submit"]
{
    display: block;
    margin-top: 35px;
}
.iletisim-formu input,select
{
    border: 2px solid #f675a8;
    padding: 10px 15px;
}
input:focus
{
    outline: none;
    border: 2px solid #7fbcd2;
    color: black;
}
.iletisim-sayfasi
{
    padding-top: 5%;
}
label
{
    font-size: 28px;
}
.btn2
{
    width: 180px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 22px;
    text-align: center;
    color: white;
    background-color: #7fbcd2;
    font-weight: 600;
    cursor: pointer;
    font-size: 19px;
    margin-left: 180px;
    text-decoration: none;
}
.btn2:hover
{
    color: black;
}
.btn2 a{
    text-decoration: none;
}
.icerik
{
    font-size: large;
    text-align: center;
    
    
    
}
.icerik h1
{
    margin-top: 150px;
   
    width: 100%;
    margin-left: -100px;
    
    
   
    
}
.icerik img
{
    margin-top: -67px;
    margin-left: 500px;

}
.icerik a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-left: 42px;
}
.button{

    background-color: #e67e22;
    border:solid #f675a8;
    color: white;
    padding: 15px 32px;
    text-decoration: none;   
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    display:flex;
    width: 4%;
    align-items: center;  
    margin-top: -125px;
    position: fixed;
    right: 600px;
    
    
}





